---
http_interactions:
- request:
    method: get
    uri: http://www.recipepuppy.com/api/?p=3&q=pancakes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Recipe Puppy","version":0.1,"href":"http:\/\/www.recipepuppy.com\/","results":[{"title":"English
        Pancakes","href":"http:\/\/www.recipezaar.com\/English-Pancakes-172501","ingredients":"eggs,
        flour, milk, vegetable oil, salt","thumbnail":""},{"title":"Fluffy Gingerbread
        Pancakes","href":"http:\/\/www.recipezaar.com\/Fluffy-Gingerbread-Pancakes-146721","ingredients":"baking
        powder, baking soda, coffee, butter, cinnamon, brown sugar, eggs, flour, lemon
        juice, ginger, nutmeg, vegetable oil, salt, water","thumbnail":""},{"title":"Ger''s
        Awesome Thin Buttermilk Pancakes","href":"http:\/\/www.recipezaar.com\/Gers-Awesome-Thin-Buttermilk-Pancakes-85504","ingredients":"baking
        soda, butter, butterm[...]
[...]
