---
http_interactions:
- request:
    method: get
    uri: http://www.recipepuppy.com/api/?p=1&q=pancakes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Recipe Puppy","version":0.1,"href":"http:\/\/www.recipepuppy.com\/","results":[{"title":"Banana
        Bread Pancakes","href":"http:\/\/www.recipezaar.com\/Banana-Bread-Pancakes-205477","ingredients":"banana,
        banana, pancake mix, sugar, cinnamon, pecan, syrup, water","thumbnail":"http:\/\/img.recipepuppy.com\/133236.jpg"},{"title":"Banana
        Pecan Pancakes Served With Berries","href":"http:\/\/www.recipezaar.com\/Banana-Pecan-Pancakes-Served-With-Berries-119418","ingredients":"buttermilk,
        flour, baking powder, baking soda, banana, brown sugar, vegetable oil, nonstick
        cooking spray, eggs, cinnamon, orange zest, pecan, raspberries, salt, vanilla
        extract","thumbnail":"http:\/\/img.recipepuppy.com\/136819.jpg"},{"title":"Cinnamon
        Apple P[...]
[...]
