body {
  padding-top: 5rem;
}

form#search-form button.btn-outline-secondary {
  border-color: #ced4da;
  color: black;
}

a.alternative {
  background-color: #eee;
}

a.alternative:hover {
  background-color: #d8d9da;
}
